.admin-panel{
  background-color: #292f35;
  width: 129px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .panel-item{
    height: 112px;
    font-size: 18px;
    color: #787878;
    font-family: $freight, sans-serif;
    font-weight: 500;
    position: relative;
    text-align: center;
    margin-bottom: 46px;
    cursor: pointer;
    padding-top: 20px;
    box-sizing: border-box;
    &:first-child{
      margin-bottom: 46px;
    }
  }
  .top .panel-item:after{
    content: '. . .';
    color: #4d4f50;
    font-size: 30px;
    position: absolute;
    bottom: -40px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  .top .panel-item:nth-child(2):after{
    bottom: -20px;
  }
  .panel-icon{
    margin-bottom: 5px;
  }
  .panel-active>.panel-icon *{
    fill: #ff503f;
    opacity: 1;
  }
  .panel-active>.panel-text{
    color: white;
  }
  .top .panel-active:before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    width: 4px;
    background-color: #ff503f;
  }
  .panel-item:hover>.panel-icon *{
    fill: #ff503f;
    opacity: 1;
  }
  .panel-item:hover>.panel-text{
    color: white;
  }
  .upgrade-num{
    top: 5px;
  }
  .project-num{
    @extend .upgrade-num;
    background-color: #adadad;
  }

}