$width-max: '(min-width: 1336px)';
$width-mid: '(min-width: 836px)';
$width-sm: '(min-width: 576px)';
$width-xs: '(min-width: 480px)';

$helvetica: 'HelveticaNeue';
$agoralight: 'Freight Sans Medium';