@import 'reset';
@import 'settings';
@import 'mixins';
@import "fonts";

body{
  background-color: #282828;
}
  .container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2%;
    min-height: 600px;
  }
@import "../../components/adminpanel/_adminpanel";
@import "../../components/dashboard/_dashboard";
@import "../../components/dashboard/header/__header";
