@import 'reset';
@import 'settings';
@import 'mixins';
@import "fonts";
@import "customselect";
@import "customscroll";

body{
  background-color: #282828;
}
  .container {
    display: flex;
    max-width: 1580px;
    margin: 0 auto;
    min-width: 1024px;
    //padding: 0 2%;
    min-height: 600px;
  }
.num{
  width: 31px;
  height: 31px;
  position: absolute;
  right: 21px;
  top: 15px;
  background-color: #ff503f;
  color: white;
  font-size: 16px;
  font-family: $helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  padding-top: 5px;
  box-sizing: border-box;
}
.small-avatar {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
}
.online:before, .offline:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #aacc4e;
  border-radius: 50%;
  z-index: 1;
  top: -1px;
  left: -2px;
  border: 2px solid #f8f8f8;
}
.offline:before {
  background-color: #c5c5c5;
}
.archive-wrap{
  padding: 20px 10px;
  color: #4b4b4b;
  font-size: 18px;
  font-family: $freight, sans-serif;
  @include media($width-mid){
    padding: 20px 30px;
  }
  .archive{
    cursor: pointer;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 5px;
      right: -17px;
      width: 6px;
      height: 6px;
      border: solid #afafaf;
      border-width: 2px 2px 0 0;
      transform: rotate(45deg);
    }
  }
}
@import "../../components/adminpanel/_adminpanel";
@import "../../components/dashboard/_dashboard";
@import "../../components/dashboard/header/__header";
@import "../../components/dashboard/togglepanel/__togglepanel";
@import "../../components/dashboard/activeprojects/__activeprojects";
@import "../../components/dashboard/activeprojects/projectsheader/__projectsheader";
@import "../../components/dashboard/activeprojects/projectsbody/__projectsbody";
@import "../../components/dashboard/activeprojects/usersaction/__usersaction";
